.all-layout{
    display: grid;
    width: 80%;
    grid-template-columns: 30% 25% 26% 19%;
    margin: 20px;
}

.grid-cell{
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.352);
    margin: 10px;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.grid-cell:hover{
    z-index: 1;
    cursor: pointer;
    transform: scale(1.06);
    background-color: rgb(156, 156, 156);
}

.right-container{
    grid-column: 3/5;
    grid-row: 1/4;
}

.wild-card{
    aspect-ratio: 16/12;
    grid-column: 1/2;
    grid-row: 1/2;
}

.face-swap{
    aspect-ratio: 16/12;
    grid-column: 1/2;
    grid-row: 2/3;
}

.path{
    aspect-ratio: 1/0.8;
    grid-column: 1/2;
    grid-row: 3/5;
}

.artissn-landing{
    grid-column: 2/3;
    grid-row: 1/3;
    aspect-ratio: 1.4/2.6;
}

.website{
    aspect-ratio: 2.55/1.5;
}

.daiella{
    aspect-ratio: 2.55/1.5;
}

.decis-tree{
    grid-column: 2/3;
    grid-row: 3/5;
}

.bottom-container-1{
    display: grid;
    grid-template-columns: 45% 27.5% 27.5%;
    grid-column: 1/4;
    grid-row: 5/6;
}

.emergence{
    aspect-ratio: 16/9;
    grid-column: 1/2;
}

.humanoid{
    aspect-ratio: 1/1;
    grid-column: 2/3;
}

.arap{
    aspect-ratio: 1/1;
    grid-column: 3/4;
}

.ai-videos{
    aspect-ratio: 1/1.99;
    grid-column: 4/5;
    grid-row: 4/6;
}

.idk{
    grid-column: 3/4;
    grid-row: 4/5;
    aspect-ratio: 16/9;
}

@media (max-width: 1060px) {
    .all-layout{
        width: 95%;
    }

    .grid-cell{
        margin: 5px;
    }
}

@media (max-width: 639px){
    .all-layout{
        grid-template-columns: 40% 30% 30%;
        width: 100%;
    }

    .right-container{
        grid-column: 2/4;
        grid-row: 1/2;
    }

    .wild-card{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .face-swap{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .path{
        grid-column: 2/3;
        grid-row: 2/3;
        aspect-ratio: 1/1;
    }

    .artissn-landing{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .decis-tree{
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .bottom-container-1{
        display: block;
        grid-column: 2/3;
        grid-row: 3/6;
        z-index: 1;
    }

    .emergence{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .humanoid{

    }

    .arap{

    }

    .ai-videos{
      grid-column: 3/4;
      grid-row: 3/5;
      z-index: 1;
    }

    .idk{
        grid-column: 1/2;
        grid-row: 4/5;
    }
}