.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
}

.content{
    margin: 0 40px;
}

@media (max-width: 782px){
    .projects-container{
        margin: 0 20px;
    }
}