h1{
    font-weight: 1000;
}

p{
    margin: 30px;
}

.mainSectionContainer{
    display: flex;
}

.aboutContainer{
    background-color: rgba(255, 255, 255, 0.618);
    color: black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.352);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin-left: 100px;
}

.imageViewContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.currentImg{
    /* background-color: rgb(255, 255, 255); */
    border-radius: 1vw;
    margin: 10px;
    display: flex;
    height: 401px;
    background-size: cover;
}

.links{
    display: flex;
    line-height: .7;
}